.app {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: white;
  min-height: 100vh;
}

.app img {
  width: 250px;
  height: 250px;
  border-radius: 150px;
  margin-top: 20px;
}

.app h2 {
  color: aqua;
}

.app p {
  margin: 5px 0;
}

.app button {
  background-color: aqua;
  border-radius: 5px;
  padding: 0px 20px;
  margin-top: 10px;
  border: none;
}